<% include ../partials/header.ejs %>
	<div id="drop" class="container">
			<div id= "new">
				<h1>Edit <%=cake.name%></h1>
				
			
				<form action="/menu/cakes/<%=cake._id%>?_method=PUT" method="POST">
					<div class="form-group">
						<label for="ID">ID:</label>
						<input id="ID" type="number" name="cake[id]" value="<%=cake.id%>" class="form-control w-100 pl-2">
					</div>
					<div class="form-group">
						<label for="NAME">Title:</label>
						<input id="NAME" type="text" name="cake[name]" value="<%=cake.name%>" class=" form-control w-100 pl-2" required>
					</div>
					<div class="form-group">
						<label for="IMAGE">Image:</label>
						<input id="IMAGE" type="text" name="cake[image]" value="<%=cake.image%>"  class="form-control w-100 pl-2" required>
					</div>
					<div class="form-group">
						<label for="COST">Cost:</label>
						<input id="COST" type="number" name="cake[price]" value="<%=cake.price%>" class="form-control w-100 pl-2" required>
					</div>
					<div class="form-group">
						<label for="DESC">Description:</label>
						<textarea id="DESC" name="cake[description]" class="form-control  w-100 pb-5" ><%=cake.description%></textarea>
					</div>
					<button class="btn btn-success btn-md btn-block">UPLOAD</button>
				</form>
				<a href="/menu/cakes/<%=cake._id%>">Go Back</a>
			</div>
	</div>	
		


<% include ../partials/footer.ejs %>